//variables
$backgroundColor: darkCyan;
$fontColor: white;
$fontFamily: sans-serif;

@import './infoComponent.scss';

*{
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:  $fontColor;
  font-family: $fontFamily;
}

.title {
  margin: 30px;
}
