@import './styles/variables.scss';

*{
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:  $fontColor;
  font-family: $fontFamily;
}

.pageTitle {
  margin-top: 40px;
  text-align: center;
}
